@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
* {
	box-sizing: border-box;
}
:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);

}
body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: var(--darkBlue);
  text-align: center  ;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
  max-width: 500px;
  background-color: var(--darkGrayishBlue);
  color: wheat;
  padding: 2em;
  border-radius: 1em;
}
#id {
  color: var(--neonGreen);
  text-transform: uppercase;
  font-weight: 500;
}

#quote {
  color: var(--lightCyan);
  font-size: 28px;
  font-weight: bold;
}

.svgs > img {
  display: block;
  margin: auto;
  margin-top: 3em;
  margin-bottom: -2em;
}

button {
  background-color: var(--neonGreen);
  padding: .8em;
  border: none;
  border-radius: 50%;
  position: relative;
  top: 57px;
}
button:hover, button:active {
  box-shadow: 1px 1px 10px 1px var(--neonGreen);
}

@media screen and (max-width: 550px) {
  .app{
    display: flex;
    align-items: flex-start;
  }
  .card {
    max-width: 300px;
    margin-top: 20px;
  }

  #divider {
    width: 227px;
  }
}